<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>MangaLords</title>
    <link rel="icon" href="../img/logo.png">
    <link rel="stylesheet" href="../css/searchStyle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- barra de navegacion  -->
    <header class="head">
        <div class="logo">
                <a href="../MangaLords.html"><img src="../img/logo.png" alt="logo"></a>
        </div>

        <div class="container buscar" style="width: 244px;">
                <input class="buscarM" type="text" placeholder="Buscar manga">
            <div class="btn boton">
                <i class=""></i>
            </div>  
        </div>

        <nav class="navbar">
            <a href="../MangaLords.html">Inicio</a>
            <a href="../views/directorioManga.html">Directorio</a>
            <a href="#">Contactanos</a>
            <a href="#">Bolsa</a>
            <a href="../views/RegistroUsuario.html">Registrarse</a>
        </nav>
    </div>
    <!-- mangas vistas -->
                <div class="container container1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tt-product-listing row">
                                <!-- manga 1 -->
                                <div class="col-6 col-md-4 col-lg-3 tt-col-item columna">
                                    <div class="respimgsize tt-product product-parent options-js product-nohover">
                                        <div class="tt-image-box">
                                            <a class="tt-imagen-parent" href="../views/vistaCitrus.html">
                                                <span class="tt-img" style="height: 320.91px; display: block;">
                                                    <img class="alinear" src="../img/citrus02.png" alt="">
                                                </span>
                                                <span class="tt-label-location"></span>
                                            </a>
                                        </div>
                                        <!-- editorial del manga -->
                                        <div class="tt-description">
                                            <div class="tt-row">
                                                <p class="tt-add-info">
                                                    <h1 class="editorial">Ivrea españa</h1>
                                                </p>
                                                    <h2 class="titulo">
                                                        <a href="../views/vistaCitrus.html">Citrus 02</a>
                                                    </h2>
                                                <div class="tt-precio">
                                                    <span class="valorClp">$10.000</span>
                                                    <span class="old-price hide"></span>
                                                </div>
                                                
                                                <div class="box">
                                                    <div class="tt-row.btn">
                                                        <form action="/cart/add" method="post" enctype="multipart/form-data">
                                                            <input type="hidden" name="id" value="40286462083237">
                                                            <button class="boton-agregar">
                                                                <span>AÑADIR A LA BOLSA</span>
                                                            </button>
                                                        </form>
                                                        <div class="tt-description onerowactions"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- manga 2 -->
                                <div class="col-6 col-md-4 col-lg-3 tt-col-item columna">
                                    <div class="respimgsize tt-product product-parent options-js product-nohover">
                                        <div class="tt-img-box2">
                                            <a class="tt-img-parent2" href="../views/vistaAnother.html">
                                                <span class="tt-img" style="height: 320.91px; display: block;">
                                                    <img class="alinear2" src="../img/another.jpg" alt="">
                                                </span>
                                                <span class="tt-label-location"></span>
                                            </a>
                                        </div>
                                        <div class="tt-description2">
                                            <div class="tt-row2">
                                                <p class="tt-add.info2">
                                                    <h1 class="editorial2">Ivrea españa</h1>
                                                </p>
                                                <h2 class="titulo2">
                                                    <a href="../views/vistaAnother.html">Another 04</a>
                                                </h2>
                                                <div class="tt-pecio2">
                                                    <span class="valorClp">$9.500</span>
                                                    <span class="old-price-hide"></span>
                                                </div>
        
                                                <div class="box2">
                                                    <div class="tt-row-btn">
                                                        <form action="/cart/add" method="post" enctype="multipart/form-data">
                                                            <input type="hidden" name="id" value="37446074106021">
                                                            <button class="boton-agregar2">
                                                                <span>AÑADIR A LA BOLSA</span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="tt-row-btn"></div>
                                            </div>
                                        </div>
                                        <div class="tt-description onerowactions"></div>
                                    </div>
                                </div>
                                <!-- manga 3 -->
                                <div class="col-6 col-md-4 col-lg-3 tt-col-item columna">
                                    <div class="respimgsize tt-product product-parent options-js product-nohover">
                                        <div class="tt-img-box3">
                                            <a class="tt-img-parent3" href="../views/vistaDS.html">
                                                <span class="tt-img" style="height: 320.91px; display: block;">
                                                    <img class="alinear3" src="../img/demonSlayer.jpg">
                                                <span class="tt-label-location"></span>
                                            </a>
                                        </div>
                                        <div class="tt-description3">
                                            <div class="tt-row3">
                                                <p class="tt-add.info3">
                                                    <h1 class="editorial3">Ivrea argentina</h1>
                                                </p>
                                                <h2 class="titulo3">
                                                    <a href="../views/vistaDS.html">Demon Slayer 13</a>
                                                </h2>
                                                <div class="tt-pecio3">
                                                    <span class="valorClp">$9.000</span>
                                                    <span class="old-price-hide"></span>
                                                </div>
                                                
                                                <div class="box3">
                                                    <div class="tt-row-btn">
                                                        <form action="/cart/add" method="post" enctype="multipart/form-data">
                                                            <input type="hidden" name="id" value="37446074106021">
                                                            <button class="boton-agregar3">
                                                                <span>AÑADIR A LA BOLSA</span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="tt-row-btn"></div>
                                            </div>
                                        </div>
                                        <div class="tt-description onerowactions"></div>
                                    </div>
                                </div>
                                <!-- manga 4 -->
                                <div class="col-6 col-md-4 col-lg-3 tt-col-item columna">
                                    <div class="respimgsize tt-product product-parent options-js product-nohover">
                                        <div class="tt-img-box4">
                                            <a class="tt-img-parent4" href="../views/vistaUNAH.html">
                                                <span class="tt-img" style="height: 320.91px; display: block;">
                                                    <img class="alinear4" src="../img/habitacionFelicidad.jpg">
                                                <span class="tt-label-location"></span>
                                            </a>
                                        </div>
                                        <div class="tt-description4">
                                            <div class="tt-row4">
                                                <p class="tt-add.info4">
                                                    <h1 class="editorial4">Ivrea argentina</h1>
                                                </p>
                                                <h2 class="titulo4">
                                                    <a href="../views/vistaUNAH.html">La habitacion felicidad 04</a>
                                                </h2>
                                                <div class="tt-pecio4">
                                                    <span class="valorClp">$10.000</span>
                                                    <span class="old-price-hide"></span>
                                                </div>
                                                
                                                <div class="box4">
                                                    <div class="tt-row-btn">
                                                        <form action="/cart/add" method="post" enctype="multipart/form-data">
                                                            <input type="hidden" name="id" value="37446074106021">
                                                            <button class="boton-agregar4">
                                                                <span>AÑADIR A LA BOLSA</span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="tt-row-btn"></div>
                                            </div>
                                        </div>
                                        <div class="tt-description onerowactions"></div>
                                    </div>
                                </div>
                                <!-- manga 5 -->
                                <div class="col-6 col-md-4 col-lg-3 tt-col-item columna">
                                    <div class="respimgsize tt-product product-parent options-js product-nohover">
                                        <div class="tt-img-box5">
                                            <a class="tt-img-parent5" href="../views/vistaFare.html">
                                                <span class="tt-img" style="height: 320.91px; display: block;">
                                                    <img class="alinear5" src="../img/farewell01.jpg">
                                                <span class="tt-label-location"></span>
                                            </a>
                                        </div>
                                        <div class="tt-description5">
                                            <div class="tt-row5">
                                                <p class="tt-add.info5">
                                                    <h1 class="editorial5">Distrito Manga</h1>
                                                </p>
                                                <h2 class="titulo5">
                                                    <a href="../views/vistaFare.html">Farewell, My Dear Cramer 01</a>
                                                </h2>
                                                <div class="tt-pecio5">
                                                    <span class="valorClp">$20.000</span>
                                                    <span class="old-price-hide"></span>
                                                </div>
                                                
                                                <div class="box5">
                                                    <div class="tt-row-btn">
                                                        <form action="/cart/add" method="post" enctype="multipart/form-data">
                                                            <input type="hidden" name="id" value="37446074106021">
                                                            <button class="boton-agregar5">
                                                                <span>AÑADIR A LA BOLSA</span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="tt-row-btn"></div>
                                            </div>
                                        </div>
                                        <div class="tt-description onerowactions"></div>
                                    </div>
                                </div>
                                <!-- manga 6 -->
                                <div class="col-6 col-md-4 col-lg-3 tt-col-item columna">
                                    <div class="respimgsize tt-product product-parent options-js product-nohover">
                                        <div class="tt-img-box6">
                                            <a class="tt-img-parent6" href="../views/vistaAtaque.html">
                                                <span class="tt-img" style="height: 320.91px; display: block;">
                                                    <img class="alinear6" src="../img/ataqueTitanes.jpeg">
                                                <span class="tt-label-location"></span>
                                            </a>
                                        </div>
                                        <div class="tt-description6">
                                            <div class="tt-row6">
                                                <p class="tt-add.info6">
                                                    <h1 class="editorial6">Norma</h1>
                                                </p>
                                                <h2 class="titulo6">
                                                    <a href="../views/vistaAtaque.html">Ataque a los Titanes 17</a>
                                                </h2>
                                                <div class="tt-pecio6">
                                                    <span class="valorClp">$9.990</span>
                                                    <span class="old-price-hide"></span>
                                                </div>
                                                
                                                <div class="box6">
                                                    <div class="tt-row-btn">
                                                        <form action="/cart/add" method="post" enctype="multipart/form-data">
                                                            <input type="hidden" name="id" value="37446074106021">
                                                            <button class="boton-agregar6">
                                                                <span>AÑADIR A LA BOLSA</span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="tt-row-btn"></div>
                                            </div>
                                        </div>
                                        <div class="tt-description onerowactions"></div>
                                    </div>
                                </div>
                                <!-- manga 7 -->
                                <div class="col-6 col-md-4 col-lg-3 tt-col-item columna">
                                    <div class="respimgsize tt-product product-parent options-js product-nohover">
                                        <div class="tt-img-box7">
                                            <a class="tt-img-parent7" href="../views/vistaBloom.html">
                                                <span class="tt-img" style="height: 320.91px; display: block;">
                                                    <img class="alinear7" src="../img/BloomIntoYou.jpg">
                                                <span class="tt-label-location"></span>
                                            </a>
                                        </div>
                                        <div class="tt-description7">
                                            <div class="tt-row7">
                                                <p class="tt-add.info7">
                                                    <h1 class="editorial7">Panini MX</h1>
                                                </p>
                                                <h2 class="titulo7">
                                                    <a href="../views/vistaBloom.html">Bloom Into You 04</a>
                                                </h2>
                                                <div class="tt-pecio7">
                                                    <span class="valorClp">$12.000</span>
                                                    <span class="old-price-hide"></span>
                                                </div>
                                                
                                                <div class="box7">
                                                    <div class="tt-row-btn">
                                                        <form action="/cart/add" method="post" enctype="multipart/form-data">
                                                            <input type="hidden" name="id" value="37446074106021">
                                                            <button class="boton-agregar7">
                                                                <span>AÑADIR A LA BOLSA</span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="tt-row-btn"></div>
                                            </div>
                                        </div>
                                        <div class="tt-description onerowactions"></div>
                                    </div>
                                </div>
                                <!-- manga 8 -->
                                <div class="col-6 col-md-4 col-lg-3 tt-col-item columna">
                                    <div class="respimgsize tt-product product-parent options-js product-nohover">
                                        <div class="tt-img-box8">
                                            <a class="tt-img-parent8" href="../views/vistaAka.html">
                                                <span class="tt-img" style="height: 320.91px; display: block;">
                                                    <img class="alinear8" src="../img/AkameGaKill.jpg">
                                                <span class="tt-label-location"></span>
                                            </a>
                                        </div>
                                        <div class="tt-description8">
                                            <div class="tt-row8">
                                                <p class="tt-add.info8">
                                                    <h1 class="editorial8">Norma</h1>
                                                </p>
                                                <h2 class="titulo8">
                                                    <a href="../views/vistaAka.html">Akame ga kill 02</a>
                                                </h2>
                                                <div class="tt-pecio8" >
                                                    <span class="valorClp">$9.900</span>
                                                    <span class="old-price-hide"></span>
                                                </div>
                                                
                                                <div class="box8">
                                                    <div class="tt-row-btn">
                                                        <form action="/cart/add" method="post" enctype="multipart/form-data">
                                                            <input type="hidden" name="id" value="37446074106021">
                                                            <button class="boton-agregar8">
                                                                <span>AÑADIR A LA BOLSA</span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="tt-row-btn"></div>
                                            </div>
                                        </div>
                                        <div class="tt-description onerowactions"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fin -->
    <!-- inicio seccion de generos -->
    <section class="seccionGeneros">
        <!-- contenedor -->
        <div class="testimonios_contenedor">
            <!-- caja 1 -->
            <div class="seccionG_caja">
                <div class="fotoGenero">
                    <img class="imagenG" src="../img/seinenG.png" alt="">
                </div>
                <div class="descriptionG">
                    <strong class="tituloG" style="color: rgb(25, 25, 25);"">Seinen</strong>
                    <p class="desc" style="color: #777777">Atrae a una audiencia masculina mayor de edad.</p>
                </div>
            </div>
            <!-- caja 2 -->
            <div class="seccionG_caja">
                <div class="fotoGenero">
                    <img class="imagenG" src="../img/shonenG.png" alt="">
                </div>
                <div class="descriptionG">
                    <strong class="tituloG" style="color: rgb(25, 25, 25);"">Shōnen</strong>
                    <p class="desc" style="color: #777777">Series con grandes dosis de acción.</p>
                </div>
            </div>
            <!-- caja 3 -->
            <div class="seccionG_caja">
                <div class="fotoGenero">
                    <img class="imagenG" src="../img/yuriG.png" alt="">
                </div>
                <div class="descriptionG">
                    <strong class="tituloG" style="color: rgb(25, 25, 25);"">Yuri</strong>
                    <p class="desc" style="color: #777777">También conocido como Girls’ Love, centra sus temáticas en las relaciones románticas entre dos personajes del sexo femenino.</p>
                </div>
            </div>
            <!-- caja 4 -->
            <div class="seccionG_caja">
                <div class="fotoGenero">
                    <img class="imagenG" src="../img/shojoG.png" alt="">
                </div>
                <div class="descriptionG">
                    <strong class="tituloG" style="color: rgb(25, 25, 25);"">Shojo</strong>
                    <p class="desc" style="color: #777777">Va dirigido a chicas adolescentes.</p>
                </div>
            </div>
            <!-- caja 5 -->
            <div class="seccionG_caja">
                <div class="fotoGenero">
                    <img class="imagenG" src="../img/yaoiG.png" alt="">
                </div>
                <div class="descriptionG">
                    <strong class="tituloG" style="color: rgb(25, 25, 25);"">Yaoi</strong>
                    <p class="desc" style="color: #777777">También conocido como Boys’ Love, centra sus temáticas en las relaciones románticas entre dos personajes del sexo masculino</p>
                </div>
            </div>
            <!-- caja 6 -->
            <div class="seccionG_caja">
                <div class="fotoGenero">
                    <img class="imagenG" src="../img/jeseiG.png" alt="">
                </div>
                <div class="descriptionG">
                    <strong class="tituloG" style="color: rgb(25, 25, 25);"">Josei</strong>
                    <p class="desc" style="color: #777777">Va dirigido especialmente para las mujeres adultas.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- fin seccion de generos -->
    <!-- seccion de comentarios inicio -->
    <section class="testimonios">
        <div class="testimonio__header">
            <h1 class="comentarios">»»————-★Comentarios★————-««</h1>
            <span class="texto1">Reseñas u opiniones de Clientes que nos prefieren.</span>
        </div>
        <!-- contenedor de comnetarios -->
        <div class="testimonios_contenedor">
            <!-- caja 1 -->
            <div class="testimonios_caja">
                <div class="caja-top">
                    <div class="perfil">
                        <div class="perfil-img">
                            <img src="../img/iconRebe.png" alt="">
                        </div>
                            <!-- nombre de usuario -->
                            <div class="name-user">
                            <strong>Rebeca Sugar</strong>
                            <span>@rebe_stiven200</span>
                        </div>
                    </div>
                    <!-- Reseñas -->
                    <div class="reseñas">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <!-- comentarios -->
                <div class="comentarios__clientes">
                    <p>"Excelentes mangas, una de las mejores tiendas online en las que he comprado, tienen un catálogo espectacular."</p>
                </div>
            </div>
            <!-- caja 2 -->
            <div class="testimonios_caja">
                <div class="caja-top">
                    <div class="perfil">
                        <div class="perfil-img">
                            <img src="../img/iconTuai.png" alt="">
                        </div>
                            <!-- nombre de usuario -->
                            <div class="name-user">
                            <strong>Tuailait Sparkle</strong>
                            <span>@spark_tuiTui2</span>
                            </div>
                    </div>
                    <!-- Reseñas -->
                    <div class="reseñas">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <!-- comentarios -->
                <div class="comentarios__clientes">
                    <p>"Waaaa me gustaron los mangas, súper bueniss, más que recomendada esta página. Les mando un beso con toda la magia de la amistad.<3"</p>
                </div>
            </div>
            <!-- caja 3 -->
            <div class="testimonios_caja">
                <div class="caja-top">
                    <div class="perfil">
                        <div class="perfil-img">
                            <img src="../img/iconPolar.png" alt="">
                        </div>
                            <!-- nombre de usuario -->
                            <div class="name-user">
                            <strong>Polar</strong>
                            <span>@soy_polaruwu</span>
                        </div>
                    </div>
                    <!-- Reseñas -->
                    <div class="reseñas">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <!-- comentarios -->
                <div class="comentarios__clientes">
                    <p>"A polar le gusto la página, polar se siente feliz, polar está muy agradecido."</p>
                </div>
            </div>
            <!-- caja 4 -->
            <div class="testimonios_caja">
                <div class="caja-top">
                    <div class="perfil">
                        <div class="perfil-img">
                            <img src="../img/iconJake.png" alt="">
                        </div>
                            <!-- nombre de usuario -->
                            <div class="name-user">
                            <strong>Jake Dog</strong>
                            <span>@jakeeeeeeeeeAu</span>
                        </div>
                    </div>
                    <!-- Reseñas -->
                    <div class="reseñas">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <!-- comentarios -->
                <div class="comentarios__clientes">
                    <p>"Ay dios pero que barbaridad, esta pagina esta buenota Auuuu Auuuu."</p>
                </div>
            </div>
            <!-- caja 5 -->
            <div class="testimonios_caja">
                <div class="caja-top">
                    <div class="perfil">
                        <div class="perfil-img">
                            <img src="../img/iconGerman.png" alt="">
                        </div>
                            <!-- nombre de usuario -->
                            <div class="name-user">
                            <strong>Germán Garmendia</strong>
                            <span>@germanchelo_chelo</span>
                        </div>
                    </div>
                    <!-- Reseñas -->
                    <div class="reseñas">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <!-- comentarios -->
                <div class="comentarios__clientes">
                    <p>"La mejor página que he visto en mi vida, nunca había visto nada igual, lo mejor de lo mejor. Gracias por todo y les mando un abrazo sicológico Adiosss."</p>
                </div>
            </div>
            <!-- caja 6 -->
            <div class="testimonios_caja">
                <div class="caja-top">
                    <div class="perfil">
                        <div class="perfil-img">
                            <img src="../img/iconIbai.png" alt="">
                        </div>
                            <!-- nombre de usuario -->
                            <div class="name-user">
                            <strong>Ibai Llanos</strong>
                            <span>@ibaillanos</span>
                        </div>
                    </div>
                    <!-- Reseñas -->
                    <div class="reseñas">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <!-- comentarios -->
                <div class="comentarios__clientes">
                    <p>"Me cago en la madre, página de la hostia, dios es que es en serio, esta p*ta página no llega a España, os odio chicos, os odio.   o(TヘTo) くぅ"</p>
                </div>
            </div>
            <!-- caja 7 -->
            <div class="testimonios_caja">
                <div class="caja-top">
                    <div class="perfil">
                        <div class="perfil-img">
                            <img src="../img/iconAuron.png" alt="">
                        </div>
                            <!-- nombre de usuario -->
                            <div class="name-user">
                            <strong>Raúl Álvarez</strong>
                            <span>@auron._</span>
                        </div>
                    </div>
                    <!-- Reseñas -->
                    <div class="reseñas">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <!-- comentarios -->
                <div class="comentarios__clientes">
                    <p>"Es una página de la hostia, muy genial todo, pero no llega a España, por lo que tuve que pedir para Argentina:)"</p>
                </div>
            </div>
            <!-- caja 8 -->
            <div class="testimonios_caja">
                <div class="caja-top">
                    <div class="perfil">
                        <div class="perfil-img">
                            <img src="../img/iconKido.png" alt="">
                        </div>
                            <!-- nombre de usuario -->
                            <div class="name-user">
                            <strong>Tsubomi Kido</strong>
                            <span>@kido</span>
                        </div>
                    </div>
                    <!-- Reseñas -->
                    <div class="reseñas">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <!-- comentarios -->
                <div class="comentarios__clientes">
                    <p>"それは素晴らしいページです。私はこれらのマンガをヘッドフォンで読みましたが、音楽がいかに素晴らしいかです。"</p>
                </div>
            </div>
            <!-- caja 9 -->
            <div class="testimonios_caja">
                <div class="caja-top">
                    <div class="perfil">
                        <div class="perfil-img">
                            <img src="../img/iconGoku.png" alt="">
                        </div>
                            <!-- nombre de usuario -->
                            <div class="name-user">
                            <strong>Son Gokū</strong>
                            <span>@goku</span>
                        </div>
                    </div>
                    <!-- Reseñas -->
                    <div class="reseñas">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <!-- comentarios -->
                <div class="comentarios__clientes">
                    <p>"Kamen jame haaaaaaaaaaaaaaaaaaaaaaaaaaa"</p>
                </div>
            </div>
        </div>
        <div class="espacionoma">
            <label class="espacio"></label>
        </div>
    </section>
    <!-- seccion de comentarios fin -->
    <!-- pie pagina -->
    <footer class="pie-pagina">
        <div class="grupo1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../img/logoFooter.png" alt="logo MangaLords">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>CONTÁCTANOS</h2>
                <P>DIRECCIÓN: V Región, Chile</P>
                <p>HORA DE ATENCIÓN: Lunes a Viernes de 10:00 AM a 19:00 PM</p>
                <p>E-MAIL:
                    <a href="https://mail.google.com/mail/u/0/#inbox?compose=new">mangalords023@gmail.com</a>
                </p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="redSocial">
                    <div class="r1">
                        <a href="#">
                            <img src="../img/iconFAce.png" alt="">
                        </a>
                    </div>
                    <div class="r2">
                        <a href="#">
                            <img src="../img/iconIg.png" alt="">
                        </a>
                    </div>
                    <div class="r3">
                        <a href="#">
                            <img src="../img/iconTik.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="grupo2">
            <small>&copy; 2023 <b>Manga Lords</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</body>
</html>