/* configuracionde fondo inicio */
body{
    background-image: url(../img/fondo4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* configuracionde fondo fin */

/* barra de navegacion */
.jumbotron{
    background: #212529;
    color: #212529;
}
*{
    font-family: sans-serif;
}
.logo{
    margin-left: 30px;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #141313;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding-right: 2rem;
}
.navbar{
    display: flex;
    margin-right: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    height: 69px;
}
.navbar a{
    display: block;
    padding: 23px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    align-items: center;
}

.navbar a:hover {
    background: #2E2A29;
}

.buscarM {
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 200px;
    padding:20px;
    color: #000;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid #D50000;
    transition: all .7s ease;
}

::placeholder {
    color: #494646;
}

.boton {
    position: absolute;
    height: 60px;
    width: 60px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.boton i {
    font-size: 25px;
    color: #ffffff;
    line-height: 80px;
    transition: all .7s ease;
}

.buscar:hover .buscarM {
    width: 350px;
}

.buscar:hover i{
    transform: rotate(-360deg);
}

.boton:hover{
    background: #cc0000;
}
/* cuerpo */
.col-md-12{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 6rem;
    width: 60%;
}
.col-md-12  .row .columna{
    width: 500px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius:2rem;
    box-shadow: 7px 13px 37px #000;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    background: #e1e0e0;
}
/*:::Boton-Modal:::*/

.boton-modal label{
    padding: 10% 15px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.boton-modal label:hover{
    background-color: #185e83;
}
/*:::Fin Boton-Modal:::*/

/*:::Ventana Modal:::*/
#btn-modal{
    display: none;
}
.container-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal:checked ~ .container-modal{
    display: flex;
}
.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal h2{
    margin-bottom: 15px;
}
.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb; 
}
.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal .btn-cerrar label a{
    padding: 7px 10px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover{
    background-color: #185e83;
}
.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal{
        width: 90%;
    }
}
/*:::Fin Ventana Modal:::*/

/*Bolsa*/
h4{
    margin: 1rem;
    text-align: center;
}


.btn-pagar {
    width: 20rem;
    background-color: #185e83;
}

.cart-container{
    display: flex;
    justify-content: center;
    margin: 4rem;
}

.cart-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    padding: 2rem;
    background-color: #ffffff;
}

.cart-prebuy{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-resume__details{
    padding: 1rem 0;
}

.cart-manga-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    
    
}
.cart-card{
    display: flex;
    width: 100%;
    background-color: rgba(14, 14, 14, 0.044);
    padding: 1rem;
    margin-bottom: 1rem;
}

.cart-card__img-contain{
    max-width: 40%;
    max-height: 40%;
}

.cart-card__img{
    width: 100%;
    border: 1px solid #6f6f6fc5;
}

.cart-card__details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
}

.cart-card__name__text{
    font-weight: 600;
}

.btn-pagar{
    display: flex;
    justify-content: center;
    background-color: #185e83;
}


.weight-600{
    font-weight: 600;
}

.count-prod{
    display: flex;
    align-items: center;
    border-radius: 100%;
    width: 100%;
}

.count-prod__number{
    background-color: #e4e4e4;
    padding: 0.4rem 1rem;
}

.btn-red{
    font-weight: 600;  
    color: white;
    background-color: var(--red-color);
}

.btn-blue{
color: white;
background-color: var(--blue-color);
}

.btn-red:active,.btn-red:hover{
color: white;
background-color: var(--red-color-hover);
}

.btn-red:active, .btn-red:visited {
color: var(--withe-color);
background-color: var(--red-color);
}

.btn-blue:active,.btn-blue:hover{
color: white;
background-color: var(--blue-color-hover);
}

.btn-blue:visited {
color: var(--withe-color);
background-color: var(--blue-color);
}

.btn.show{
background-color: var(--withe-color);
}

.btn.show:hover{
color: var(--black-color);
}
/* pie de pagina */
.pie-pagina{
    display: inline-block;
    margin-top: 12rem;
    width: 100%;
    background-color: #010006;
}
.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: auto;
}
.pie-pagina .grupo1 .box figure{
    width: 100px;
    height: 100px;
    display: flex;
}
.pie-pagina .grupo1 .box figure img{
    display: inline-block;
    margin-top: rem;
    width: 250px;
}
.pie-pagina .grupo1 .box h2{
    display: inline-block;
    margin-top: 1rem;
    color: #c8c8c8;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo1 .box p{
    color: #a8a7a7;
}
.r1 img {
    width: 2.2rem;
    height: 2.2rem;
}
.r2 img {
    display: inline-block;
    margin-top: 1rem;
    width: 2rem;
    height: 2rem;
}
.r3 img { 
    display: inline-block;
    margin-top: 1rem;
    width: 2rem;
    height: 2rem;
}
.pie-pagina .grupo2{
    background-color: #040116;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}