
/* configuracionde fondo inicio */
body{
    background-image: url(../img/fondo4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* configuracionde fondo fin */
*{
    font-family: sans-serif;
}
.logo{
    margin-left: 30px;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    background: #141313;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding-right: 2rem;
}
.navbar{
    display: flex;
    margin-right: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    height: 69px;
}
.navbar a{
    display: block;
    padding: 23px 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    align-items: center;
}

.navbar a:hover {
    background: #2E2A29;
}
input {
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 200px;
    padding:20px;
    color: #000;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid #D50000;
    transition: all .7s ease;
}
::placeholder {
    color: #494646;
}

.btn {
    position: absolute;
    height: 60px;
    width: 60px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.btn i {
    font-size: 25px;
    color: #ffffff;
    line-height: 80px;
    transition: all .7s ease;
}

.container:hover input {
    width: 350px;
}

.container:hover i{
    transform: rotate(-360deg);
}

.btn:hover{
    background: #cc0000;
}
.pie-pagina{
    display: inline-block;
    margin-top: 5rem;
    width: 100%;
    background-color: #010006;
}
.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: auto;
}
.pie-pagina .grupo1 .box figure{
    width: 100px;
    height: 100px;
    display: flex;
}
.pie-pagina .grupo1 .box figure img{
    display: inline-block;
    margin-top: 3rem;
    width: 250px;
}
.pie-pagina .grupo1 .box h2{
    display: inline-block;
    margin-top: 1rem;
    color: #c8c8c8;
    margin-bottom: 25px;
    font-size: 17px;
}
.pie-pagina .grupo1 .box p{
    color: #a8a7a7;
}
.r1 img {
    width: 3.8rem;
    height: 3.8rem;
}
.r2 img {
    display: inline-block;
    margin-top: 2rem;
    width: 3rem;
    height: 3rem;
}
.r3 img {
    display: inline-block;
    margin-top: 2rem;
    width: 3rem;
    height: 3rem;
}
.pie-pagina .grupo2{
    background-color: #040116;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    font-size: 17px;
}



.container-carousel{
    margin-top: none;
}