@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body{
    background-image: url(../img/fondo5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* barranav */
/* barranav fin */

/* cuerpo */
/* Registrar */
.registrar{
    margin: auto;
    padding: 10px;
}
/* registro cuadro */
.form-register{
    width: 550px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.form-register h4{
    font-size: 30px;
    margin-bottom: 20px;
}
.formulario{
    gap: 20px;
}
.formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}
.formulario__input{
    width: 100%;
    background: #4d6073;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    position: relative;
    transition: .3s ease all;
}
.formulario__input:focus{
    border: #1f53c5;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}
.formulario__input-error-activo{
    display: block;
}
.formulario__validacion-estado{
    position: absolute;
    right: 32rem;
    padding-top: 15px;
    z-index: 100;
    font-size: 16px;
    /* opacity: 0; */
}
.formulario__checkbox{
    margin-right: 10px;
}
.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar{
    grid-column: span 2;
}
.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: none;
}
.formulario__mensaje-active{
    display: block;
}
.formulario__mensaje p{
    margin: 0;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #141313;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar{
    display: flex;
    margin-right: 10px;
    text-decoration: none;    
}

.logo{
    margin-left: 30px;
}
.navbar a{
    display: block;
    padding: 23px 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a:hover {
    background: #2E2A29;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina{
    display: inline-block;
    margin-top: 12rem;
    width: 100%;
    background-color: #010006;
}
.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: auto;
}
.pie-pagina .grupo1 .box figure{
    width: 100px;
    height: 100px;
    display: flex;
}
.pie-pagina .grupo1 .box figure img{
    display: inline-block;
    margin-top: 3rem;
    width: 250px;
}
.pie-pagina .grupo1 .box h2{
    display: inline-block;
    margin-top: 1rem;
    color: #c8c8c8;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo1 .box p{
    color: #a8a7a7;
}
.r1 img {
    width: 2.2rem;
    height: 2.2rem;
}
.r2 img {
    display: inline-block;
    margin-top: 1rem;
    width: 2rem;
    height: 2rem;
}
.r3 img {
    display: inline-block;
    margin-top: 1rem;
    width: 2rem;
    height: 2rem;
}
.pie-pagina .grupo2{
    background-color: #040116;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}